.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 500px;
}

.form button {
  width: 100px;
  height: 30px;
  border: 1px solid grey;
  background-color: rgb(241, 218, 189);
  border-radius: 10px;
}
.form input {
  position: relative;
  height: 30px;
  width: 200px;
}
